html {
    background-color: white;
  }

  fieldset {
    background-color: powderblue;
  }

  .container {
    margin: auto;
    width: 60%;
  }
  
  #title {
      font-size: 60px;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      color: #ff00ff;  /* Fuchsia */
      text-shadow: 3px 3px 1px black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    align: center;
  }
  
  p {
    color: red;
  }
  
  /* Defining styling for a specific element type - each question */
  .question {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  /* Defining styling for a specific element type - large block buttons */
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #ffff66;  /* yellow */
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  /* Defining styling for a specific element with an id */
  #signature {
    text-align: right;
    color: red;
    font-style: italic;
    font-size: 75%;
  }