/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.title {
  text-align: center;
  font-style: italic;
}

#signature {
  position: fixed;
  right: 10px;
  bottom: 0;
  font-style: italic;
}

.gallery {
  display: inline-block;
  border: 1px solid black;
  width: 250px;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

.gallery img {
  width: 100%;
  height: 120px;
}

.unit {
  display: inline-block;
  margin: 2px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin-bottom: 5px;
}